{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ev_form.css' %}" />
    <title>Announce an event</title>
</head>
<body>
    <form action="{% url 'create_event' club_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Enter event details</h1>
        <input type="text" name="name" placeholder="event_name" required><br>
        <input type="text" name="description" placeholder="event_details" required><br>
        <div id="imagePreview" ></div>
        <label for="poster"></label>
        <input type="file" name="poster" id="file" onchange="return fileValidation()"><br>
        <input type="date" name="date" placeholder="Date" required><br>
        <input type="text" name="time" placeholder="time" required><br>
        <input type="text" name="venue" placeholder="venune" required><br>
        <button type="submit" class="item">Announce</button>
    </form>
    
    <script>
        function fileValidation() {
            var fileInput =document.getElementById('file');
             
            var filePath = fileInput.value;
         
            var allowedExtensions =/(\.jpg|\.jpeg|\.png|\.gif)$/i;
             
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            }
            else
            {
             
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById('imagePreview').innerHTML ='<img src="' + e.target.result+ '" style="width : 50px; height :50px;"/>';
                    };
                     
                    reader.readAsDataURL(fileInput.files[0]);
                }
            } 
        }
    </script>


</body>
</html>