{% load static %}
<!doctype HTML>
<html>
    <head>
        <title>Events of NITAP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <link rel="stylesheet" href="{% static 'dashboard.css' %}" />
    </head>
    <body>
        <div class="top-section">
            <a href="/slogin"><button class="home-icon"><i class="fas fa-home"></i> Home</button></a>
            <img src="/media/logo.png" alt="Logo">
            <h1>National Institute Of Technology, Andhra Pradesh</h1>
            <a href="/edit_details" style="padding-left: 20px;"><button class="home-icon" style="padding-left: 20px;">Edit Details</button></a>
            <a href="/logout" style="padding-left: 20px;"><button class="home-icon" ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button></a>
          
          </div>
          

          <div class= "left-menu">
            <a href="/club/ptm100" class="item">Prayatnam</a>
            <a href="/club/dnd100" class="item">DnD</a>
            <a href="/club/pnp100" class="item">PnP</a>
            <a href="/club/lnd100" class="item">LnD</a>
            <a href="/club/air100" class="item">AInR</a>
            <a href="/club/eyn100" class="item">E-yantra</a>
            <a href="/club/ctm100" class="item">Chitram</a>
        </div>
        <div class="middle-section">   
            <div class="person-container">
                  <div class="person">
                    <img style="height: 173px; width: 173px;" src="{{st.pic.url}}" alt="loading">
                  <div class="person-details">
                    <h2>{{st.first_name}} {{st.last_name}}</h2><br>
                    <p>{{st.roll_no}}</p><br>
                    <p>{{st.cgpa}}</p><br>
                    <p>{{st.dept_name}}</p><br>
                    <p>{{st.year}}</p><br>
                    <p>{{st.email}}</p><br>
                    <p>{{st.phone}}</p><br>
                  </div>
                </div>
            </div>
        <h1>registered events</h1>
        <div class="event-container">
            <div class="event-list">
                {% for e in ev %}
              <div class="event-item">
                <img style="height: 173px; width: 173px;" src="{{e.poster.url}}" alt="Event 1">
                <div class="event-details">
                  <h3>{{e.name}}</h3>
                  <p> {{e.task}} </p><br>
                  <p><strong>Date: {{e.date}}</strong></p>
                  <p><strong>Time: {{e.time}}</strong></p>
                  <p><strong>Venue: {{e.venue}}</strong></p>
                </div>
              </div>
        {%endfor%}
    </div>
    </div>
        </div>
    </body>
</html>
